* {
  padding: 0%;
  margin: 0%;
}
html,
body {
  height: 100%;
}
.red {
  color: red;
  font-size: small;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}
.red a:hover {
  text-decoration: underline;
}
header {
  display: flex;
  width: 100vw;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(240, 245, 246);
}
#qujie {
  text-decoration: none;
  background-color: rgb(220, 0, 80);
  color: white;
  border: 0;
  padding: 2px;
  border-radius: 3px;
  font-size: smaller;
}
header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header p,
a {
  font-size: smaller;
  text-decoration: none;
  color: black;
}
header div:nth-child(2) a {
  border-right: 1px solid gray;
  padding: 0 4px;
  color: #6a6a78;
}
header a:hover {
  text-decoration: underline;
}
header div:nth-child(2) > a:nth-last-child(1) {
  border-right: none;
  color: red;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background-color: rgb(233, 233, 233);
  margin-left: 10px;
}
nav {
  max-width: 80%;
  min-width: 1000px;
  margin: auto;
}

#nav1 {
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
#nav2 {
  height: 35px;
  width: 100%;
  background: linear-gradient(to top, rgb(114, 144, 156), rgb(132, 168, 181));
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav2 a {
  color: white;
  font-weight: 800;
  font-size: medium;
}
#nav2 a:hover {
  text-decoration: underline;
}
#nav2 a:nth-child(1) {
  margin-left: 20px;
}
#nav2 a:nth-last-child(1) {
  background-color: white;
  color: rgb(86, 86, 86);
  padding: 0px 10px;
  /* text-align: center; */
  line-height: 33px;
  margin: 2px;
  margin-right: 20px;
  border-radius: 3px;
  font-size: small;
}
#nav2 a:nth-last-child(1):hover {
  text-decoration: 0;
}
#nav3 {
  margin-top: 5px;
  height: 55px;
  width: 100%;
  background: linear-gradient(to top, #e6e6e6, #f7f7f7);
  border-radius: 2px;
  border: 1px solid #e3e3e3;
  display: flex;
  flex-direction: column;
}
nav p {
  font-size: xx-small;
  color: rgb(200, 200, 200);
}
nav a {
  font-size: xx-small;
  color: rgb(134, 134, 134);
}
nav a:hover {
  text-decoration: underline;
}
nav h6 {
  font-weight: 300;
  color: red;
  position: relative;
  left: 10px;
}
nav hr {
  height: 0;
  width: 99%;
  border-width: 1px 0 0 0;
  border-style: groove;
  border-color: rgb(222, 222, 222);
  border-radius: 100px;
  margin: auto;
}
#nav3-1 a:nth-child(1) {
  margin-left: 10px;
}
#nav3-1 a:nth-last-child(1) {
  margin-right: 10px;
}
#nav3-1,
#nav3-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}
footer {
  background-color: rgb(232, 232, 234);
  margin-top: 10px;
}
.ma {
  height: 10px;
}
footer table {
  width: 90%;
  margin: auto;

  border-spacing: 0ch;
}
footer tr {
  width: 100%;
}

footer tr td {
  padding: 5px;
  font-size: smaller;
  color: rgb(100, 100, 100);
  border-right: 3px groove rgba(255, 255, 255, 0.37);
  padding-left: 20px;
}
footer tr:nth-child(1) td {
  color: red;
  padding-top: 20px;
  margin-top: 5px;
}
footer tr:nth-last-child(1) td {
  padding-bottom: 20px;
}
footer td:nth-last-child(1) {
  border-right: none;
}
.copy ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.copy li {
  list-style: none;
}
#main1 {
  margin: 5px 5px;
}
#main1 a {
  color: blue;
}
#main1 a:hover {
  text-decoration: underline;
}
#main2,
#main1 {
  margin-left: 150px;
}
#main2 li {
  list-style: none;
}
#main2 div:nth-child(1) {
  width: 25%;
  max-width: 200px;
}
#main2 ul {
  border: 1px solid rgb(200, 200, 200);
  margin: 5px 0;
  width: 180px;
}
#main2 ul:nth-child(1) li {
  border-bottom: 1px solid rgb(200, 200, 200);
  margin: 0px 5px;
  padding: 5px;
  box-sizing: content-box;
  font-size: small;
}
#main2 li:nth-child(1) {
  color: rgb(75, 75, 75);
  font-weight: 800;
}
#main2 ul:nth-child(1) a {
  color: rgb(131, 131, 131);
}
#main2 ul:nth-child(1) a:hover {
  text-decoration: underline;
}
#main2 ul:nth-child(1) li:nth-child(1) {
  margin: 0;
  padding: 3px;
  padding-left: 10px;
  background: linear-gradient(150deg, #fff, rgb(239, 239, 239));
}
#main2 ul:nth-child(1) li:nth-last-child(1) {
  border-bottom: none;
}
#main2 ul:nth-child(2) li:nth-child(1) {
  margin: 0;
  padding: 3px;
  padding-left: 10px;
  background: linear-gradient(150deg, #fff, rgb(239, 239, 239));
  border-bottom: 1px solid rgb(200, 200, 200);
  font-size: small;
}
#main2 ul:nth-child(2) li:nth-child(1) {
  font-weight: 800 !important;
  color: black !important;
}
#main2 ul:nth-child(2) li:nth-child(2) {
  margin-top: 5px;
}
#main2 ul:nth-child(2) li:nth-child(2n) {
  font-size: small;
  padding: 0 7px;
  font-weight: 800;
}
#main2 ul:nth-child(2) li:nth-child(2n + 1) {
  font-size: 8px;
  padding: 7px;
  font-weight: 300;
  margin-bottom: 3px;
}
.leftdown {
  border: 1px solid rgb(200, 200, 200);
  line-height: 28px;
  font-size: 8px;
  padding-left: 40px;
  height: 28px;
  width: 140px;
}

main {
  display: flex;
  width: 100%;
}
#main-right {
  width: 70%;
  margin-top: 30px;
  margin-left: 10px;
}
#main-r1 {
  border: 1px solid rgb(200, 200, 200);
  width: 90%;
  height: 40px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
}
#main-r1 img {
  width: 70px;
  height: 22px;
  padding-right: 10px;
}
#main-r1 input {
  height: 25px;
  width: 60%;
  border-radius: 3px;
  box-shadow: #e3e3e3 0px 0px 3px 2px inset;
  border: 1px solid rgb(129, 129, 129);
  padding-left: 10px;
}
#main-r1 button {
  background-image: url(../img/sear_help_btn.gif);
  width: 76px;
  line-height: 28px;
  height: 28px;
  border: 0;
}
#main-r1-1 p {
  font-size: smaller;
  width: 60%;
}
#main-r2 {
  background: linear-gradient(0deg, #fff, rgb(239, 239, 239));
  padding: 30px;
  width: 90%;
}
#main-r2 p {
  font-size: small;
  color: rgb(46, 46, 46);
  margin-top: 5px;
}
#main-r2-b {
  display: flex;
  justify-content: space-around;
}
#main-r2-b h3 {
  color: #454545;
  margin-bottom: 20px;
}
#main-r2-b div {
  width: 220px;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid rgb(200, 200, 200);
  border-top: 2px solid rgb(194, 43, 43);
  margin-right: 20px;
}
