* {
  margin: 0;
  padding: 0;
}
.top {
  width: 100%;
  height: 25px;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: right;
  align-items: center;
}
body {
  margin: 0px;
}
.shang_pin_fen_lei_list li {
  list-style-type: none;
}
.spirit {
  background-image: url(../public/default_icon_bg.png);
}
.qq {
  background-position: -502px -43px;
  /* background-size: 18px 19px; */
  background-repeat: no-repeat;
}
.phone {
  background-position: -509px -9px;
  background-repeat: no-repeat;
}
.number {
  background-position: -317px -64px;
  background-repeat: no-repeat;
  width: 129px;
  height: 18px;
}
.logo {
  background-position: 0px -1px;
  width: 421px;
  height: 63px;
}
.car {
  background-position: -1px -65px;
  border-radius: 5px;
  width: 126px;
  height: 33px;
  border: 1px solid rgb(238, 238, 238);
}
.top p {
  text-decoration: none;
  border-right: 2px solid rgb(213, 213, 213);
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: small;
}
.top p:nth-child(6) {
  padding-right: 0px;
  margin-right: 150px;
}
.head_bar {
  height: 77px;
  padding-left: 133px;
  display: flex;
  justify-content: space-between;
}
.nav {
  height: 34px;
  background-color: rgb(187, 0, 0);
  display: flex;
  justify-content: left;
  align-items: center;
}
.nav p {
  height: 20px;
  line-height: 20px;
  font-size: small;
  padding-right: 20px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  margin-right: 20px;
  color: aliceblue;
}
.discount {
  background-image: url(../public/20200817.gif);
}
.youhui {
  background-position: -67px 0px;
  width: 34px;
  height: 19px;
}
.index_tu {
  background-image: url(../public/index.png);
  border: 0;
  display: inline-block;
  position: relative;
  top: 5px;
}
.xie {
  background-position: -142px -149px;
  width: 23px;
  height: 22px;
}
.fu {
  background-position: -143px -190px;
  width: 25px;
  height: 25px;
}
.paobu {
  background-position: -141px -231px;
  width: 27px;
  height: 31px;
}
.lanqiu {
  background-position: -140px -276px;
  width: 27px;
  height: 25px;
}
.zuqiu {
  background-position: -142px -321px;
  width: 27px;
  height: 25px;
}
.baobao {
  background-position: -142px -360px;
  width: 25px;
  height: 26px;
}
.huwai {
  background-position: -140px -408px;
  width: 25px;
  height: 17px;
}
.lanxie {
  background-position: -143px -449px;
  width: 22px;
  height: 21px;
}
.tongxie {
  background-position: -145px -497px;
  width: 23px;
  height: 14px;
}
#shang_pin_fen_lei {
  margin-left: 150px;
  margin-right: 0;
  border: 0;
  padding-left: 20px;
  height: 34px;
  line-height: 34px;
  background-color: rgb(255, 78, 78);
}

.shang_pin_fen_lei_list {
  position: relative;
  top: 208px;
  left: 110px;
  width: 118px;
  display: none;
}
#shang_pin_fen_lei:hover ~ span .shang_pin_fen_lei_list {
  display: block;
}
.shang_pin_fen_lei_list:hover {
  display: block;
}
.shang_pin_fen_lei_list li {
  background-color: rgb(31, 25, 9);
  color: aliceblue;
  line-height: 42px;
}
.yundong td {
  width: 140px;
  height: 70px;
  margin: 0;
  border: 1px solid rgb(238, 238, 238);
  border-collapse: collapse;
  background-image: url(../public/logo.png);
}
.dong_tai_shang li {
  font-size: small;
  color: gray;
}
.zhong_bu {
  margin-right: 150px;
  margin-top: 20px;
  display: flex;
  height: 288px;
  justify-content: space-between;
}
.zhong_xia {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 150px;
}
footer {
  margin-top: 20px;

  padding: 20px 250px 0 150px;
  border-top: 2px solid red;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}
footer > div:nth-child(1) {
  padding-right: 50px;
  margin-bottom: 20px;
}
footer p {
  font-size: small;
  color: #a6a6a6;
}
footer h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(94, 94, 94);
}
